html {
  /*    background-color: blue; 
    color: aliceblue; */
    /*  width: 50%;  */
}

.t1 {
    background-color: blue;
    color: aliceblue;
/*      width: 50%; 
     height: 100%;  */
      margin: 0 ;  
} 

/* hr {border:3px #cccccc dotted;} */
hr.dash {
    border: 1px dashed;
}

hr.solid {
    border: 1px solid rgb(14, 14, 14);
}

/* #l1 {border-top:1px dashed #cccccc;height: 1px;overflow:hidden;}
#l2 {height:1px;border-bottom:1px solid rgb(9, 9, 9);overflow:hidden;} */
#a1 {
    position: relative;
    left: 85%
}

#b1 {
    position: relative;
    left: 5%
}